#*.iml
#.gradle
#local.properties
#.idea
#.DS_Store
#
#build/
#/captures
#.externalNativeBuild
#Android_Lib_*
#Android_TCT_*
#Android_Plugin_*
#app/
#java/
#build
#local-config.gradle
#
#.DS_Store
#local.properties
#local-config.gradle
#.navigation/
#build/
#captures/
#/Android_Core
#/Android_Service
#/Android_DBGenerator
#app/etongAndroid.keystore

# Android Studio
*.iml
.idea
target
build/
Plugin
Module
Library
target/
captures/
buildSrc/
.externalNativeBuild
.navigation

# Mac
.DS_Store
